$main-font-color: #222;
$main-bg: #f4f4f4;
$margin-group: 1rem;
$white-bg: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
  background: $main-bg;
  padding: 0.5rem 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 1rem;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.red {
  color: #ff0000;
}

.green {
  color: #98cb98;
}
.container {
  max-width: 300px;
  margin: auto;
  padding: 1rem;
  text-align: center;

  h1 {
    margin-bottom: 1.5rem;
  }
}

.box {
  text-align: start;
}

/* CONTAINER BALANCE */

.cont-balance {
  margin-bottom: 1rem;

  h5 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
  }
}

.income-expence {
  background: $white-bg;
  justify-content: space-between;
  padding: 1rem 3rem;
  box-shadow: 0 8px 6px -6px #999;

  .left {
    width: 50%;
    border-right: 1px dotted $main-bg;
  }

  p {
    font-weight: bold;
  }
}

/* CONTAINER HISTORY */

.cont-history {
  margin-bottom: 1rem;

  h3 {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0.5rem;
  }

  p {
    font-weight: bold;
  }
}

.expence {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  background: $white-bg;
  margin-bottom: 0.5rem;
  border-right: 3px solid #ff0000;
  cursor: pointer;

  button {
    position: absolute;
    top: 20%;
    left: -5%;
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 2px;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
  }
}

.expence:hover button {
  opacity: 1;
}

.income {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
  background: $white-bg;
  margin-bottom: 0.5rem;
  border-right: 3px solid #98cb98;
  cursor: pointer;

  button {
    position: absolute;
    top: 20%;
    left: -5%;
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 2px;
    opacity: 0;
    transition: opacity 0.5s ease;
    cursor: pointer;
  }
}

.income:hover button {
  opacity: 1;
}

/* CONTAINER ADD */

.cont-add {
  margin-bottom: 1rem;

  h3 {
    border-bottom: 1px dotted #ccc;
    margin-bottom: 0.5rem;
  }
}

.form {
  .form-group {
    margin-bottom: 0.5rem;

    label {
      margin-bottom: 0.5rem;
      font-size: 1rem;
      font-weight: bold;
    }

    input {
      height: 31.6px;
      padding: 0.3rem;
      outline: none;
    }

    p {
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }
  }

  #label-amount {
    margin-bottom: 0;
  }

  #amount {
    margin-bottom: 0.5rem;
  }

  .btn {
    padding: 0.5rem 1rem;
    background: #8e6b8e;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: none;
  }

  .btn:hover {
    background: #800080;
  }
}
