* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  color: #f9f9f9;
  margin-bottom: 30px;
}

.container {
  height: 100vh;
  background: linear-gradient(rgb(12, 34, 23), rgb(45, 31, 65));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gameWindow {
  width: 60%;
  height: 65%;
  background: #f9f9f9;
  padding: 15px;
}

.cont {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.scoreWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.bricksWrapper {
  height: 30%;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 10px;
}

.brick {
  background: linear-gradient(rgb(12, 34, 23), rgb(45, 31, 65));
  height: 12px;
}

.padleWrapper {
  margin-top: auto;
}

.padle {
  width: 40px;
  height: 12px;
  background: linear-gradient(rgb(12, 34, 23), rgb(45, 31, 65));
}
